<h1>{{title}}</h1>
<p>A Twitterbot which posts every morning. It checks the temperature, and fetches
  the historical high temperature and average temperature, and posts this data to Twitter.</p>
  <P>Is Minneapolis warmer or colder that historical data, and by how much?</p>
<P>You can see the tweets <a href="https://twitter.com/is_mpls_hot">@is_mpls_hot</a></p>
